body {
    font-family: 'Roboto', sans-serif;
    background: #000;
    margin: 0;
    padding-top: 53px;
    color: #fff;
}

.header {
    max-width: 1230px;
    width: 100%;
    height: 17px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.item {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    position: relative;
    padding-bottom: 2px;
}

.item:after {
    content: "";
    width: 0;
    height: 1px;
    background: #fff;
    transition: all ease-out 0.5s;
    position: absolute;
    left: 0;
    bottom: 0;
}

.item:hover:after {
    width: 100%;
}

.item-link {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    text-decoration: none;
}

.sec-menu .item:last-child .item-link {
    margin-right: 0;
}

.sec-menu .item-link {
    color: #808080;
}

.main {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 26px;
}

.title {
    margin-top: 0;
    margin-bottom: 26px;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;
}

.description {
    margin: auto;
    max-width: 268px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    text-transform: lowercase;
}

.description:after {
    margin: auto;
    content: "";
    display: block;
    width: 1px;
    height: 60px;
    background-color: #FFF;
    margin-top: 26px;
}

.video-bg {
    /* margin-top: 30px; */
    height: 750px;
    max-width: 1230px;
    width: 100%;
    margin: auto;
    background-color: #000;
}

.features {
    max-width: 1230px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

.features-title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 140%;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.text-grey {
    color: #B2B0B2;
}

.table {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 179.69%;
    padding-bottom: 206px;
}

.table td {
    width: 300px;
    padding-top: 6px;
    padding-bottom: 5px;
}

.features-text {
    margin-top: 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 29px;
    max-width: 490px;
}

.right-col {
    text-align: center;
    width: 50%;
    height: 1200px;
}

.rocket {
    z-index: 2;
    position: relative;
    padding-top: 100px;
    height: 1500px;
}

.footer {
    max-width: 1230px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.logo-footer {
    margin-bottom: 43px;
}

.social-link {
    text-decoration: none;
    margin-right: 20px;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.footer-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #808080;
    margin-top: 28px;
    margin-bottom: 30px;
}

.contact {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 19px 86px;
    margin-bottom: 131px;
}

@media (max-width: 960px) {
    .rocket {
        width: 200px;
        height: 1200px;
    }
    .table {
        padding-bottom: 100px;
    }
}

@media(max-width:768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }
    .header .logo {
        margin-bottom: 20px;
    }
    .header .main-nav {
        margin-bottom: 20px;
    }
    .right-col {
        width: 30%;
        height: 900px;
    }
    .table {
        padding-bottom: 40px;
    }
    .table td {
        max-width: 250px;
    }
    .video-bg {
        width: 100%;
    }
}

@media (max-width:576px) {
    .features {
        flex-direction: column;
        align-items: center;
    }
    .right-col {
        width: 100%;
        height: 900px;
        margin-bottom: 30px;
    }
    .rocket {
        padding: 0;
        width: 250px;
        height: 900px;
    }
}